/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* default */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 30px;
}

/* primary button */
.primary-btn{
    border: 0;
    background-color:#E02C6D;
    color:white;
    width: 196px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;  
}
.fa-arrow-right{
    padding-left: 10px;
}

/* horizontal line */

.hori-line{
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

/* rating star design */

.fa-star,.fa-star-half-alt{
    font-size: 16px;
    color:#FB8200;
    
}

/* style in the header */

@keyframes  styling-text{

    0%{
        content: "Start|";
    }
    10%{
        content: "your|";
    }
    20%{
        content: "Journey|";
    }
    30%{
        content: "as|";
    }
    40%{
        content: "Influencer|";
    }
    50%{
        content: "Start your Journey as Influencer";
    }
    60%{
        content: "Start your Journey as Influencer";
    }
    70%{
        content: "Start your Journey as Influencer";
    }
    80%{
        content: "Start your Journey as Influencer";
    }
    90%{
        content: "Start your Journey as Influencer";
    }
    100%{
        content:"Start your Journey as Influencer";
    }
   
}

.styling-text{
    position: relative;
    visibility: hidden;
}

.styling-text::before{
    content: "Start your Journey as Influencer";
    position:absolute;
    left:0;
    top:0;
    animation: styling-text 6s linear infinite;
    visibility: visible;
}



/* Heading title */
.top-heading-ls{
    font-size: 24px;
    font-weight: 700;
}

/* navigation */

#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
}

nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;

}
.navigation li{
    list-style: none;
    margin-right: 34px;
}
.navigation li a{
    text-decoration: none;
    color: black;
}

/* top banner */

.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* top banner text */
.top-banner-ls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-banner-ls h2{
    font-weight: 700;
    font-size: 52px;
}
.top-banner-ls p{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
}

/* top banner image */
.top-banner-rs{
    padding-top: 80px;
    padding-left: 133px;

}
.top-banner-rs-imgs{
    position: relative;
    top: 0;
    left: 0;
} 
.cam-bg-design{
    width: 475px;
    height: 475px;
    position: relative;
    top: 0;
    left: 0;
} 
.main-camera{
    width: 440px;
    height: 414px;
    position: absolute;
    top: 10px;
    left:10px;         
}

/* brand logos */
.brand-logos{
    margin-top: 69px;
    margin-bottom: 100px;
}

.brand-logos-container{
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
}

/* logo custom height width */
.alibaba-logo{
    width: 55px;
    height: 31px;
}
.amazon-logo{
    width: 84px;
    height: 26px;
}
.daraz-logo{
    width: 84px;
    height: 26px;
}
.ebay-logo{
    width: 99px;
    height: 40px;

}
.rakuten-logo{
    width: 97px;
    height: 28px;
}
.walmart-logo{
    width: 111px;
    height: 26px;

}
.target-logo{
    width: 91px;
    height: 38px;

}

/* popular collection */
.popular-collection-heading{
   font-weight: 600;
   font-size: 28px;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 30px;

}

.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;  
}

/* box shadow for items */
.popular-collection > div{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px 18px;
}

.popular-collection > div img{
    width: 100%;
    height: 256px;

}
.popular-collection > div h3{
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 20px;
}

.item-price{
    font-size: 24px;
    font-weight: 400;
    color: black;
    padding-bottom: 22px;
}
.shipping-details{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366; 
}

/* see more button */
.see-more-btn {
    display: flex;
    padding-top: 50px;
    justify-content: flex-end;   
}
.see-more-btn a{
    text-decoration: none;
    color: #E02C6DDE;
    font-size: 16px;
    font-weight: 700;
}

/* contact portion */
.contact-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.contact-form{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px


}

.contact-ls img{
    width: 100%;
}
.contact-rs form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size:16px;
    font-family: inherit;
    outline: 0px;
    border:1px solid #E02C6D;
}



/* footer */

footer{

    display: flex;
    flex-direction: column;
    height: 240px;
    background-color: #0A0826;
    color: white;
    align-items: center;
    justify-content: center;
}

footer h2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}
footer p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.social-medias{
    font-size: 32px;
}


/* responsive css */

@media only screen and (max-width: 767px){
    .container{
        max-width: 767px;
        margin: 0 auto;
        padding: 0px 30px;
    }

    .top-banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top-heading-ls{
        font-size: 16px;
        font-weight: 700;
    }
    .top-banner-ls h2{
        font-weight: 700;
        font-size: 28px;
    }
    .top-banner-ls p{
        font-weight: 600;
        font-size: 14px;
        padding: 20px 22px;
    }
    
    .top-banner-rs-imgs{
        position: relative;
        top: 0;
        left: 0;
    } 
    .cam-bg-design{
        width: 257px;
        height: 257px;
        position: relative;
        top: -25px;
        left: -25px;
    } 
    .main-camera{
        width: 202px;
        height: 190px;
        position: absolute;
        top: 0px;
        left: 0px;         
    }
    .nav-toggler-icon{
        display: block;
        padding-left: 150px;
    }
    .navigation{
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        flex-direction: column-reverse;
        flex-wrap:wrap;
        align-items: flex-end;
        transform: translateY(-320px);
        transition: .5 ease-in-out;
       

    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);

    }
    .brand-logos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .popular-collection, 
    .popular-collection-heading, 
    .contact-form, 
    .contact-title,
    .top-banner-ls,
    .top-banner-rs
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .see-more-btn{
        padding-top: 30px;
        padding-left: 250px;
        padding-bottom: 50px;
    }
    .contact-ls,
    .contact-rs
    {
        width: 50%;
        padding-bottom: 10px;
    }
    .brand-logos-container{
        width: 50%;
        padding-left: -150px;
        margin-left: 150px;
    }
      
    .alibaba-logo{
        width: 36px;
        height: 15px;
    }
    .amazon-logo{
        width: 42px;
        height: 14px;
    }
    .daraz-logo{
        width: 42px;
        height: 14px;
    }
    .ebay-logo{
        width: 49px;
        height: 20px;

    }
    .rakuten-logo{
        width: 43px;
        height: 14px;
    }
    .walmart-logo{
        width: 55px;
        height: 14px;

    }
    .target-logo{
        width: 45px;
        height: 22px;

    }

     
}

@media only screen and (max-width: 375px){
    .container{
        max-width: 375px;
        margin: 0 auto;
        padding: 0px 30px;
    }
    .top-banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top-heading-ls{
        font-size: 15px;
        font-weight: 700;
    }
    .top-banner-ls h2{
        font-weight: 700;
        font-size: 28px;
    }
    .top-banner-ls p{
        font-weight: 600;
        font-size: 14px;
        padding: 20px 22px;
    }
    
    .top-banner-rs-imgs{
        position: relative;
        top: 0;
        left: 0;
    } 
    .cam-bg-design{
        width: 257px;
        height: 257px;
        position: relative;
        top: -15px;
        left: -80px;
    } 
    .main-camera{
        width: 202px;
        height: 190px;
        position: absolute;
        top: 10px;
        left: -50px;         
    }
    .nav-toggler-icon{
        display: block;
        padding-left: 150px;
    }
    .navigation{
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        flex-direction: column-reverse;
        flex-wrap:wrap;
        align-items: flex-end;
        transform: translateY(-320px);
        transition: .5 ease-in-out;
       

    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);

    }
    .brand-logos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .popular-collection, 
    .popular-collection-heading, 
    .contact-form, 
    .contact-title,
    .top-banner-ls,
    .top-banner-rs
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .see-more-btn{
        padding-top: 30px;
        padding-left: 250px;
        padding-bottom: 50px;
    }
    .contact-ls,
    .contact-rs
    {
        width: 50%;
        padding-bottom: 10px;
    }
    .brand-logos-container{
        width: 20%;
        padding-left: -150px;
        margin-left: 150px;
    }
   .alibaba-logo{
        width: 36px;
        height: 15px;
    }
    .amazon-logo{
        width: 42px;
        height: 14px;
    }
    .daraz-logo{
        width: 42px;
        height: 14px;
    }
    .ebay-logo{
        width: 49px;
        height: 20px;

    }
    .rakuten-logo{
        width: 43px;
        height: 14px;
    }
    .walmart-logo{
        width: 55px;
        height: 14px;

    }
    .target-logo{
        width: 45px;
        height: 22px;

    }
}

 @media only screen and (min-width:768px) and (max-width:1024px){ 

    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: 0px 30px;
    }

    .top-heading-ls{
        padding-right: 25px;
    }
    .top-banner
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        

    } 
    .contact-form,
    .top-banner-ls,
    .top-banner-rs
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .cam-bg-design,
    .main-camera  {
        margin-right: 100px;
    }
    .contact-ls,
    .contact-rs
    {
        width: 50%;
        padding-bottom: 10px;
    }
    .see-more-btn{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .brand-logos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .alibaba-logo{
        width: 36px;
        height: 15px;
    }
    .amazon-logo{
        width: 42px;
        height: 14px;
    }
    .daraz-logo{
        width: 42px;
        height: 14px;
    }
    .ebay-logo{
        width: 49px;
        height: 20px;

    }
    .rakuten-logo{
        width: 43px;
        height: 14px;
    }
    .walmart-logo{
        width: 55px;
        height: 14px;

    }
    .target-logo{
        width: 45px;
        height: 22px;

    }
    
}









