/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* default */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 30px;
}

/* primary button */
.primary-btn{
    border: 0;
    background-color:#E02C6D;
    color:white;
    width: 196px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;  
}
.fa-arrow-right{
    padding-left: 10px;
}

/* horizontal line */

.hori-line{
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

/* Heading title */
.top-heading-ls{
    font-size: 24px;
    font-weight: 700;
}

/* navigation */
nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;

}
.navigation li{
    list-style: none;
    margin-right: 34px;
}
.navigation li a{
    text-decoration: none;
    color: black;
}

/* top banner */

.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* top banner text */
.top-banner-ls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-banner-ls h2{
    font-weight: 700;
    font-size: 52px;
}
.top-banner-ls p{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 16px;


}

/* top banner image */
.top-banner-rs{
    padding-top: 80px;
    padding-left: 133px;

}
.top-banner-rs-imgs{
    position: relative;
    top: 0;
    left: 0;
} 
.cam-bg-design{
    width: 475px;
    height: 475px;
    position: relative;
    top: 0;
    left: 0;
} 
.main-camera{
    width: 440px;
    height: 414px;
    position: absolute;
    top: 10px;
    left:10px;          
}

/* brand logos */
.brand-logos{
    margin-top: 69px;
    margin-bottom: 100px;
}

.brand-logos-container{
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
}

.alibaba-logo{
    width: 55px;
    height: 31px;
}
.amazon-logo{
    width: 84px;
    height: 26px;
}
.daraz-logo{
    width: 84px;
    height: 26px;
}
.ebay-logo{
    width: 99px;
    height: 40px;

}
.rakuten-logo{
    width: 97px;
    height: 28px;
}
.walmart-logo{
    width: 111px;
    height: 26px;

}
.target-logo{
    width: 91px;
    height: 38px;

}






